*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --stone-950: #0C0A09;
  --stone-900: #1C1917;
  --stone-800: #292524;
  --stone-700: #44403C;
  --stone-600: #57534E;
  --stone-500: #78716C;
  --stone-400: #A8A29E;
  --stone-300: #D6D3D1;
  --stone-200: #E7E5E4;
  --stone-100: #F5F5F4;
  --stone-50: #FAFAF9;
}

html,
body {
  background-color: var(--stone-800);
  color: var(--stone-200);
  min-height: 100vh;
  margin: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts {
  color: var(--stone-100);
}

.made-for-educational-purpose {
  text-align: center;
}

.social-icons {
  text-align: right;
}

.social-icons a {
  text-decoration: none;
  margin-right: 10px;
  color: var(--stone-100);
}

.social-icons a:visited {
  color: var(--stone-100);
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.mail-contact {
  color: var(--stone-100);
}