*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --stone-950: #0C0A09;
  --stone-900: #1C1917;
  --stone-800: #292524;
  --stone-700: #44403C;
  --stone-600: #57534E;
  --stone-500: #78716C;
  --stone-400: #A8A29E;
  --stone-300: #D6D3D1;
  --stone-200: #E7E5E4;
  --stone-100: #F5F5F4;
  --stone-50: #FAFAF9;
}

html,
body {
  background-color: var(--stone-800);
  color: var(--stone-200);
  min-height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

nav {
  background-color: var(--stone-950);
}

.container {
  margin: 0 auto;
  max-width: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.logo {
  border-radius: 50%;
  width: 80%;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.half-section {
  width: 50%;
}

.project-title {
  font-size: 2.5em;
  font-weight: bold;
}